@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.menu {
    .menu__btn {
        display: none
    }
}

.social {
    display: flex;
    z-index: 100;
    gap: 25px;

    &__svg symbol path {

        transition: color 0.5s;

        &:focus {
            color: $green;
        }

        &:hover {
            fill: red;
        }

        &:active {
            color: $active;
        }
    }
}

.use {
    fill: white;
    transition: color 0.5s;

    &:focus {
        color: $green;
    }

    &:hover {
        fill: red;
    }

    &:active {
        color: $active;
    }
}


.trending-news {
    background-color: #202234;
    border-bottom: 2px solid #f2b125;

    &__inner {

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 13px 0;


    }

    &__left {
        display: flex;
        // justify-content: space-between;
        align-items: center;
    }

    &__link {
        background-color: #f02f23;
        border-radius: 4px;
        padding: 10px 15px;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        color: #ffffff;
        margin-right: 10px;
        transition: color 0.5s;
        // display: -webkit-box;
        // -webkit-line-clamp: 1;
        // -webkit-box-orient: vertical;
        // overflow: hidden;
        max-width: 200px;
        // white-space: nowrap;


        &:focus {
            color: $green;
        }

        &:hover {

            background-color: $green ;
        }

        &:active {
            color: $active;
        }
    }

    &__text {
        font-size: 13px;


    }
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    // left: 750px;
    color: white;
    z-index: 999;

}



.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 15px;
}

.swiper-button-prev {
    // left: 700px;
    // left: 0;
    right: 30px;
    left: auto;

}

.swiper-button-next {
    // left: 730px;
    // left: 0;
    right: 0px;
    left: auto;
}

.swiper-slide {
    // max-width: 400px;
    // width: 600px;
    // width: 500px;
}

.swiper-wrapper {
    width: 605px;
}

.swiper__text {
    font-size: 13px;
}

.currency {
    background-color: #1b1c27;
    padding: 25px 0;

    &__wraper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__items {
        display: flex;
        gap: 35px;
    }

    &__item {
        // margin-right: 35px;
    }

    &__inner {
        display: flex;
        align-items: center;
    }

    &__svg {
        margin-right: 10px;
    }

    &__button {
        border-radius: 50%;
        border: 1px solid  white;
        background-color: $white;
        margin-right: 10px;
        width: 20px;
        height: 20px;
        // padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: color 0.5s;

        &:focus {
            color: $green;
        }

        &:hover {
            border: 1px solid  blue;
        }

        &:active {
            color: $active;
        }
    }

    &__text {
        color: #f2b125;
        text-transform: uppercase;
        margin-bottom: 10px;
        // line-height: 26px;

    }

    &__info {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 500;
        color: #ffffff;
    }



    &__increased {
        color: #3bed23;

    }

    &__dropped {
        color: #f02f23;
    }

    &__info {}

    &__box {
        display: inline;
    }
}






/*медия всегда должны быть в низу */


/*

&__link {
    color: $title;
    font-family: $;
    font-size: 15px;
    line-height: 1;
    font-weight: 700;
    outline-color: #000000;
    outline-offset: 5px;
    transition: color 0.5s;
    &:focus {
        color: $green;
    }

    &:hover {
        color: $ac;
    }

    &--active {
        color: $ac;
    }
}

*/

/*.video {
    height: 425px;
    max-width: 1185px;
    display: flex;
    justify-content: center;
    background-position: center;
    position: relative;
    opacity: 1;
    transition: opacity 0.7s,
        border 0.5s;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;


    &:focus {
        outline: solid $ac;
    }

    &:hover {
        opacity: 0.4;
        border: 2px solid $black;
    }

    &:active {
        color: $active;
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url('../images/play.png');
        background-position: center;
        background-repeat: no-repeat;
        height: 100px;
        width: 100px;
    }
}*/

@import 'media';