@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

// провертить потом все отступы что бы были одинаковые у титулов

.menu {
    background-color: $orange;
    padding: 17px 0;

    &__items {
        display: flex;
        justify-content: start;
        align-items: center;

        flex-wrap: wrap;
    }

    &__item {
        // line-height: 60px;
        font-weight: 600;
        margin-right: 35px;
    }

    &__link {
        transition: color 0.5s;
        outline-color: $black;
        outline-offset: 5px;


        &:focus {
            color: $green;
        }

        &:hover {
            color: $black;
        }

        &:active {
            color: $active;
        }
    }



    &__btn {
        // display: none;
        background-color: transparent;
        border: none;
    }
}

.dropdown__select {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: $white;


}

.social {
    display: flex;
    z-index: 100;


    &__item {
        padding: 11px 13px;
        border-radius: 6px;



    }

    // &__svg symbol path {

    //     transition: color 0.5s;

    //     &:focus {
    //         color: $green;
    //     }

    //     &:hover {
    //         fill: red;
    //     }

    //     &:active {
    //         color: $active;
    //     }
    // }
}

// .use {
//     fill: white;
//     transition: color 0.5s;

//     &:focus {
//         color: $green;
//     }

//     &:hover {
//         fill: red;
//     }

//     &:active {
//         color: $active;
//     }
// }


.trending-news {
    background-color: $black2;
    border-bottom: 2px solid $orange;

    &__inner {

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 13px 0;


    }

    &__left {
        display: flex;
        // justify-content: space-between;
        align-items: center;
    }

    &__link {
        background-color: $red;
        border-radius: 4px;
        padding: 7px 11px;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        color: #ffffff;
        margin-right: 10px;
        transition: color 0.5s;
        // display: -webkit-box;
        // -webkit-line-clamp: 1;
        // -webkit-box-orient: vertical;
        // overflow: hidden;
        max-width: 200px;
        // white-space: nowrap;


        &:focus {
            color: $green;
        }

        &:hover {

            background-color: $green ;
        }

        &:active {
            color: $active;
        }
    }

    &__text {
        font-size: 13px;


    }

    &__social {
        gap: 25px;
    }
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    // left: 750px;
    color: $white;
    z-index: 999;

}



.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 12px;
}

.swiper-button-prev {
    // left: 700px;
    // left: 0;
    right: 27px;
    left: auto;

}

.swiper-button-next {
    // left: 730px;
    // left: 0;
    right: 0px;
    left: auto;
}

.swiper-slide {
    // max-width: 400px;
    // width: 600px;
    // width: 500px;
}

.swiper-wrapper {
    width: 620px;
}

.swiper__text {
    font-size: 13px;
}

.currency {
    background-color: $black2;
    padding: 22px 0;

    &__wraper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__items {
        display: flex;
        gap: 35px;
    }

    &__item {
        // margin-right: 35px;
        position: relative;
    }

    &__inner {
        display: flex;
        align-items: center;
    }

    &__svg {
        margin-right: 5px;
        z-index: 999;

    }

    // поменять если не сделаю кнопку 
    &__icon {
        border-radius: 50%;
        border: 1px solid transparent;
        background-color: $white;
        margin-right: 10px;
        width: 14px;
        height: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: color 0.5s;

        &:focus {
            color: $green;
        }

        &:hover {
            border: 1px solid $blue;
        }

        &:active {
            color: $active;
        }
    }

    &__text {
        color: $orange;
        text-transform: uppercase;
        margin-bottom: 10px;
        // line-height: 26px;

    }

    &__info {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 500;
        color: $white;
    }



    &__increased {
        color: $green2;

    }

    &__dropped {
        color: $red;
    }

    &__info {}

    &__box {
        display: inline;
    }
}


.blog {
    padding: 35px 60px 75px 60px;
    background-color: #2f2f33;

    @media (max-width: 1378px) {
        padding: 35px 15px 75px 15px;
    }

    &__images {
        // display: block;

    }

    &__img {
        // width: 590px;
        // height: 545px;
        width: 590px;
        height: 445px;
        object-fit: cover;
        // display: none;

        @media (max-width: 1378px) {
            width: 450px;
            height: 450px;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        padding-bottom: 70px;
    }

    &__item {
        border: 1px solid $gold;
        position: relative;
    }

    &__main {
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 30px 30px 40px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100%;

        @media (max-width: 1378px) {
            padding: 20px 20px 30px 20px;
        }
    }

    &__inner {
        display: flex;

    }








    &__bottom {
        // padding: 0 30px 0 75px ;
        // display: flex;
        // flex-direction: column;
        // /* align-items: end; */
        // justify-content: end;
        // // height: 345px;
        // min-height: 100%;

    }

    &__info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 20px;
        gap: 35px;
    }

    &__link {}

    &__title {
        font-size: 30px;
        // line-height: 36px;
        font-weight: 600;
        color: $white2;
        margin-bottom: 20px;
        transition: color 0.5s;
        @include clamp(3);

        &:focus {
            color: $green;
        }

        &:hover {
            color: $ac;
        }

        &:active {
            color: $active;
        }
    }

    &__text {
        font-size: 15px;
        // line-height: 25px;
        @include clamp(1);
    }

    &__gambling {
        padding: 15px 45px 15px 90px;
        background-image: url('../images/orange-bg.png');
    }


    &__svg {
        // margin-right: 5px;
        font-size: 24px;

        // width: 25px;
        // height: 25px;
    }
}

// тот который был categories
.box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__currency {
        background-color: $orange;
        border-radius: 4px;
        font-family: Poppins;
        font-size: 14px;
        // line-height: 36px;
        font-weight: 600;
        text-transform: uppercase;
        color: #2f2f33;
        padding: 5px 17px;
        transition: color 0.5s;
        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // display: inline-block;
        // max-width: 200px;
        @include clamp2(200, inline-block);


        &:focus {
            color: $green;
        }

        &:hover {
            background-color: $green;
        }

        &:active {
            color: $active;
        }
    }

    &__icon {
        background-color: $ac;
        width: 50px;
        height: 50px;
        border: 2px solid $orange;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}

.info {
    &__avtar {
        transition: color 0.5s;
        max-width: 175px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        font-size: 13px;
        letter-spacing: 1.3px;

        &:focus {
            color: $green;
        }

        &:hover {
            color: $ac;
        }

        &:active {
            color: $active;
        }
    }

    &__calendar {
        font-size: 13px;
    }

    &__time {
        text-transform: uppercase;
    }

    &__message {
        font-size: 13px;
    }

    &__svg {
        margin-right: 5px;
        width: 20px;
        height: 20px;
        background-color: transparent;
    }
}

.gambling {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__icon {
        width: 95px;
        height: 95px;
        clip-path: polygon(63% 3%, 100% 28%, 100% 29%, 95% 91%, 28% 100%, 5% 42%, 5% 38%);
        background-image: linear-gradient(45.0deg, #f24c25 0%, #ffd200 100%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__svg {
        z-index: 999;
    }

    &__title {
        font-size: 36px;
        // line-height: 32px;
        letter-spacing: -0.1px;
        font-family: 'notosans';
        font-weight: 700;
    }

    &__title p {
        font-size: 36px;
        // line-height: 32px;
        font-style: italic;
        color: $black4;
        letter-spacing: -2.3px;
        margin-bottom: 10px;
    }

    &__link {}

    &__sale {
        padding: 10px 22px;
        background-color: $black4;
        font-size: 21px;
        line-height: 32px;
        font-weight: 600;
        color: $white;
        border-radius: 6px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 210px;
        transition: color 0.5s;

        &:focus {
            color: $green;
        }

        &:hover {
            color: $white;
            background-color: $green;
        }

        &:active {
            color: $active;
        }
    }
}



.content {
    padding: 75px 0px 0px 0px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }



    &__left {
        max-width: 890px;
    }

    &__right {
        max-width: 310px;
    }

    &__subscribe {
        background-color: $black3;
        padding: 30px 35px 40px 32px;
    }


    &__social {
        gap: 10px;
        justify-content: center;
    }

    &__item {
        padding: 11px 13px;
        border-radius: 6px;


        &--facebook {
            background-color: #5677b9;
        }

        &--twitter {
            background-color: #39a6d4;
        }

        &--youtube {
            background-color: #cd312a;

        }

        &--phone {
            background-color: #235f85;
        }
    }

    &__conversion {
        padding-bottom: 30px;
    }

    &__gambling {
        display: flex;
        flex-direction: column;
    }

}

.latest-videos {
    padding-bottom: 70px;

    &__title {
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__big {
        margin-right: 10px;

    }

    &__images {
        position: relative;
    }

    &__img {
        width: 620px;
        height: 440px;
        object-fit: cover;
    }

    &__box {
        position: absolute;
        top: 0;
        left: 0;
        padding: 35px;
        max-width: 620px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        min-height: 100%;

    }

    &__info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 20px;
        gap: 35px;
    }


}

.videos-small {
    width: 260px;


    &__item {
        position: relative;

    }

    &__img {
        width: 260px;
        height: 140px;
    }

    &__box {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;
    }

    &__title {
        font-size: 15px;
        // line-height: 21px;
        font-weight: 600;
    }
}

.trending-filter {
    padding-bottom: 70px;

    &__inner {
        display: flex;
        justify-content: space-between;
        color: $black4;
        border-bottom: 1px solid $gray1;
        width: 100%;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 35px 25px;

    }

    &__item {
        width: 280px;
    }

    &__img {
        width: 280px;
        height: 180px;
        object-fit: cover;
        // padding: 12px;

    }

    &__images {
        position: relative;
        margin-bottom: 15px;
    }

    &__link {}

    &__rectangle {
        position: absolute;
        top: 12px;
        left: 12px;
        font-size: 14px;
        // line-height: 36px;
        font-weight: 600;
        text-transform: uppercase;
        color: $black4;
        letter-spacing: 0;
        padding: 5px 8px 4px 9px;
        background-color: $orange;
        transition: background-color 0.5s;

        &:focus {
            color: $green;
        }

        &:hover {
            background-color: $blue;
        }

        &:active {
            color: $active;
        }
    }

    &__box {}

    &__title {
        font-size: 15px;
        line-height: 21px;
        font-weight: 600;
        color: $black4;
        letter-spacing: 0.2px;
        transition: color 0.5s;

        &:focus {
            color: $green;
        }

        &:hover {
            color: $red;
        }

        &:active {
            color: $active;
        }
    }

    &__author {}
}

.author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    &__author {
        font-size: 13px;
        // line-height: 21px;
        text-transform: uppercase;
        color: $gray3;
        margin-right: 10px;
        transition: color 0.5s;

        &:focus {
            color: $green;
        }

        &:hover {
            color: $red;
        }

        &:active {
            color: $active;
        }
    }

    &__views {
        font-size: 13px;
        // line-height: 36px;
        text-transform: uppercase;
        color: $gray;
    }
}

.filter {
    display: flex;

    &__item {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__button {
        font-size: 14px;
        // line-height: 60px;
        font-weight: 500;
        color: $black4;
        border: none;
        background-color: transparent;
        transition: color 0.5s;

        &:focus {
            color: $green;
        }

        &:hover {
            color: $red;
        }

        &:active {
            color: $active;
        }

        // &--active {
        //  
        // }
    }
}

.mixitup-control-active {
       color: $orange;
}
.title {}

.currency__svg {}





.blog__top {}

.categories {}

.categories__currency {}

.author {}

.author__author {}

.author__views {}

.author__svg {}

.author__title {}

.subscribe {
    margin-bottom: 40px;

    &__title {
        font-size: 18px;
        // line-height: 60px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 15px;
        @include clamp(1);
    }

    &__text {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 20px;
        text-align: center;
        opacity: 0.9;
        @include clamp(2);
    }
}

// переделать что бы не бем блок
.form {
    &__input {
        margin-bottom: 15px;
        border: 1px solid #ecede7;
        border-radius: 6px;
        width: 246px;
        height: 40px;
        width: 100%;
        padding: 0px 10px 0px 10px;

        &::placeholder {
            font-size: 13px;
            line-height: 24px;
            color: $gray2;
        }
    }

    &__btn {
        background-color: $orange;
        border-radius: 6px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 600;
        text-transform: uppercase;
        color: $black4;
        padding: 8px 85px;
        transition: color 0.5s;
        border: none;
        margin-bottom: 30px;
        // width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 250px;
        min-width: 200px;


        &:focus {
            color: $green;
        }

        &:hover {
            color: $ac;
            background-color: $green;
        }

        &:active {
            color: $active;
        }
    }
}

.conversion {

    &__title {
        margin-bottom: 20px;
        padding-bottom: 10px;
    }

    &__text {
        font-size: 15px;
        line-height: 25px;
        color: $gray;
        margin-bottom: 30px;
        @include clamp(2);
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__inputs {
        margin-right: 15px;
    }

    &__input {
        width: 150px;
        height: 40px;
        border: 1px solid $gray1;
        border-radius: 6px;
        padding: 0px 35px 0px 15px;
        margin-bottom: 20px;
        outline-color: $black;

        &::placeholder {
            font-size: 13px;
            color: $gray2;
        }
    }

    &__select {
        // width: 150px;
        // height: 40px;
        // // border: 1px solid $gray1;
        // border: none;
        // border-radius: 6px;
        margin-bottom: 20px;
        // 
    }

    &__optoon {
        font-size: 13px;
        // line-height: 24px;
        color: $gray;


    }
}

.jq-selectbox {
    background: none !important;


    // outline-color: #000000 !important;
    box-shadow: none;
    border: none;
}

.jq-selectbox__select {
    height: 40px;
    background: none !important;
    border: 1px solid #ecede7;
    border-radius: 6px;
    // outline-color: #000000 !important;
    box-shadow: none;
    border: none;




}



.jq-selectbox__trigger {
    border-left: none;
}

.jq-selectbox__select-text {
    font-size: 13px;
    // line-height: 24px;
    line-height: 3;

    color: #63636a;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 380px;
    min-width: 100px;

}

// jq-selectbox     {
//        outline-color: #000000;
//     //    outline: none;
// }

// .conversion__optoon {
//     outline-color: #000000;
// }

// .conversion__select {
//     outline-color: #000000;
// }

// .jqselect {
//     outline-color: #000000;
// }


// jq-selectbox jqselect conversion__select conversion__optoon dropdown-svg {
//     outline-color: #000000;
//     outline: none;
// }

.jq-selectbox__trigger-arrow {
    position: absolute;
    top: 9px;
    right: 8px;
    padding: 10px;
    background-position: center;
    background-image: url(../images/icons/angle-down.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;

}


.ratings {
    padding-bottom: 45px;

    &__title {
        margin-bottom: 20px;
        padding-bottom: 10px;
        // line-height: 60px;
        // border-bottom: red;
    }

    &__images {
        position: relative;
    }

    &__img {
        width: 310px;
        height: 130px;
        object-fit: cover;
        border-radius: 6px;
        margin-bottom: 15px;
    }

    &__link-img {
        transition: opacity 0.5s;

        &:focus {
            color: $green;
        }

        &:hover {
            opacity: 0.7;
        }

        &:active {
            color: $active;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 15px;
        }

    }

    &__inner {
        display: flex;
        justify-content: space-between;
        font-size: 15px;

    }

    &__subtitle {
        // font-size: 15px;
        // line-height: 36px;
        font-weight: 600;
        color: $black4;
        letter-spacing: -1px;
        @include clamp(1);
        transition: color 0.5s;

        &:focus {
            color: $green;
        }

        &:hover {
            color: $red;
        }

        &:active {
            color: $active;
        }
    }

    &__info {

        letter-spacing: -0.3px;
        @include clamp(1);
        // line-height: 36px;

        color: $gray;
    }

    &__text {
        font-size: 13px;
        line-height: 21px;
        font-weight: 400;
        color: $gray;
        @include clamp(2);
        transition: color 0.5s;

        &:focus {
            color: $green;
        }

        &:hover {
            color: $red;
        }

        &:active {
            color: $active;
        }
    }

    &__box {
        position: absolute;
        top: 10px;
        left: 10px;
        display: flex;
        align-items: center;
        z-index: 100;
    }

    &__subtext {
        padding: 3px 5px 3px 5px;
        background-color: $red;
        border-radius: 4px;
        font-size: 13px;
        // line-height: 36px;
        font-weight: 600;
        text-transform: uppercase;
        color: $white;
        margin-right: 5px;
    }

    &__icon {
        background-color: #f2b125;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2px;
    }
}


.recent-posts {
    padding-bottom: 45px;

    &__title {}

    &__svg {}

    &__items {}



    &__item {

        max-width: 300px;

        &:not(:last-child) {
            margin-bottom: 15px;
        }

    }

    &__inner {
        display: flex;
        justify-content: space-between;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__link {
        // flex: 0 0 33%;
        // display: flex;
        // margin-right: 15px;
        cursor: pointer;
    }

    &__images {
        margin-right: 15px;
        flex: 0 0 33%;
    }

    &__img {
        width: 100px;
        height: 90px;
        transition: opacity 0.5s;
        object-fit: cover;

        &:focus {
            color: $green;
        }

        &:hover {
            opacity: 0.7;
        }

        &:active {
            color: $active;
        }


    }

    &__box {}

    &__info {
        padding: 3px 17px;
        background-color: $orange;
        border-radius: 4px;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        color: $black4;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 120px;
        min-width: 70px;
        transition: background-color 0.5s;

        &:focus {
            color: $green;
        }

        &:hover {
            background-color: red;
        }

        &:active {
            color: $active;
        }
    }

    &__numbers {
        font-size: 13px;
        text-transform: uppercase;
        color: #63636a;
        @include clamp(1);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        // width: 70px;
    }

    &__svg {
        margin-right: 15px;
    }

    &__title {
        font-size: 15px;
        line-height: 21px;
        font-weight: 600;
        color: $black4;
        @include clamp(2);
        transition: color 0.5s;

        &:focus {
            color: $green;
        }

        &:hover {
            color: $red;
        }

        &:active {
            color: $active;
        }
    }
}

.gambling-content {
    padding: 40px 20px;
    background-image: url('../images/orange-square.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;


    &__gambling {}

    &__link {}

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__icon {
        width: 57px;
        height: 57px;
        clip-path: polygon(63% 3%, 100% 28%, 100% 29%, 95% 91%, 28% 100%, 5% 42%, 5% 38%);
        background-image: linear-gradient(45.0deg, #f24c25 0%, #ffd200 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    &__svg {}

    &__title {
        letter-spacing: -0.1px;
        font-family: 'Noto Sans';
        font-size: 18px;
        line-height: 16px;
        font-style: italic;
        margin-bottom: 25px;
        font-weight: 700;
        text-align: center;
    }

    &__title p {
        margin-bottom: 5px;
        font-weight: 400;


    }

    &__sale {
        padding: 10px 22px;
        background-color: $black4;
        font-size: 14px;
        line-height: 22px;
        font-weight: 600;
        color: $white;
        border-radius: 6px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 210px;
        transition: background-color 0.5s;


        &:focus {
            color: $green;
        }

        &:hover {
            background-color: red;
        }

        &:active {
            color: $active;
        }
    }

}

.gambling {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__icon {}

    &__svg {
        z-index: 999;
    }






    &__title p {
        font-size: 36px;
        // line-height: 32px;
        font-style: italic;
        color: $black4;
        letter-spacing: -2.3px;
        margin-bottom: 10px;
    }

    &__link {}

    &__sale {


        &:focus {
            color: $green;
        }

        &:hover {
            color: $white;
            background-color: $green;
        }

        &:active {
            color: $active;
        }
    }
}

.categories {

    &__title {
        margin-bottom: 20px;
        padding-bottom: 10px;
    }

    &__items {}

    &__item {}

    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 13px 2px 13px 2px;
        // margin-bottom: 25px;
    }

    &__text {
        font-weight: 500;
        color: $gray;


    }

    &__link {
        &:hover {
            .categories__text {
                transform: translateX(15px);
                color: $orange;

                &::before {
                    content: "";
                    position: absolute;
                    top: 8px;
                    left: -13px;
                    height: 1px;
                    width: 10px;
                    background-color: $orange;
                }
            }
        }
    }

    &__numbers {
        color: $gray;
    }
}

// .categories {
//     &__input {
//         &:checked+.categories__checkbox {
//             background-color: transparent;
//             color: $blue;
//         }
//     }

//     &__checkbox {
//         cursor: pointer;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         background-color: $red;
//         padding: 13px 2px 13px 2px;
//         color: $blue;
//         // margin-bottom: 27px;


//         // max-width: 270px;

//         font-size: 14px;
//         // line-height: 34px;
//         transition: color 1.5s, translateX 0.5s;

//         &:focus {
//             color: $green;
//         }

//         &:hover {
//             color: $orange;

//             position: relative;

//             &::before {
//                 content: "";
//                 position: absolute;
//                 top: 20px;
//                 left: 2px;
//                 height: 1px;
//                 width: 10px;
//                 background-color: $orange;
//             }

//             .categories__text {
//                 color: $orange;
//                 transform: translateX(15px);
//             }
//         }

//         &:active {
//             color: $active;
//         }

//         &--active {
//             background-color: $red;
//         }
//     }

//     &__title {
//         margin-bottom: 20px;
//         padding-bottom: 10px;
//     }

//     &__svg {
//         margin-right: 5px;
//     }


//     &__items {}

//     &__item {}

//     &__text {
//         font-weight: 500;
//         color: $gray;

//         // &:hover {
//         //     // color: $orange;
//         //     transform: translateX(15px);


//         //     &::before {
//         //         content: "";
//         //         position: absolute;
//         //         top: 20px;
//         //         left: -11px;
//         //         height: 1px;
//         //         width: 10px;
//         //         background-color: $orange;
//         //     }
//         // }

//     }

//     &__numbers {
//         color: $gray;
//     }
// }

// .recent-posts__img {
//     width: 100px;
//     height: 90px;
// }



/*медия всегда должны быть в низу */


/*

&__link {
    color: $title;
    font-family: $;
    font-size: 15px;
    line-height: 1;
    font-weight: 700;
    outline-color: #000000;
    outline-offset: 5px;
    transition: color 0.5s;
    &:focus {
        color: $green;
    }

    &:hover {
        color: $ac;
    }

    &--active {
        color: $ac;
    }
}

*/

/*.video {
    height: 425px;
    max-width: 1185px;
    display: flex;
    justify-content: center;
    background-position: center;
    position: relative;
    opacity: 1;
    transition: opacity 0.7s,
        border 0.5s;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;


    &:focus {
        outline: solid $ac;
    }

    &:hover {
        opacity: 0.4;
        border: 2px solid $black;
    }

    &:active {
        color: $active;
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url('../images/play.png');
        background-position: center;
        background-repeat: no-repeat;
        height: 100px;
        width: 100px;
    }
}*/

@import 'media';