@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.menu {
    background-color: #f2b125;
    padding: 17px 0;

    .menu__items {
        display: flex;
        justify-content: start;
        align-items: center;
        outline-color: #000000;
        outline-offset: 5px;
    }

    .menu__item {
        // line-height: 60px;
        font-weight: 600;
        margin-right: 35px;
    }

    .menu__link {
        transition: color 0.5s;

        &:focus {
            color: $green;
        }

        &:hover {
            color: $black;
        }

        &:active {
            color: $active;
        }
    }



    .menu__btn {
        // display: none;
        background-color: transparent;
        border: none;
    }
}

.dropdown__select {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #ffffff;


}

.social {
    display: flex;
    z-index: 100;
    gap: 25px;

    // &__svg symbol path {

    //     transition: color 0.5s;

    //     &:focus {
    //         color: $green;
    //     }

    //     &:hover {
    //         fill: red;
    //     }

    //     &:active {
    //         color: $active;
    //     }
    // }
}

// .use {
//     fill: white;
//     transition: color 0.5s;

//     &:focus {
//         color: $green;
//     }

//     &:hover {
//         fill: red;
//     }

//     &:active {
//         color: $active;
//     }
// }


.trending-news {
    background-color: #202234;
    border-bottom: 2px solid #f2b125;

    &__inner {

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 13px 0;


    }

    &__left {
        display: flex;
        // justify-content: space-between;
        align-items: center;
    }

    &__link {
        background-color: #f02f23;
        border-radius: 4px;
        padding: 7px 11px;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        color: #ffffff;
        margin-right: 10px;
        transition: color 0.5s;
        // display: -webkit-box;
        // -webkit-line-clamp: 1;
        // -webkit-box-orient: vertical;
        // overflow: hidden;
        max-width: 200px;
        // white-space: nowrap;


        &:focus {
            color: $green;
        }

        &:hover {

            background-color: $green ;
        }

        &:active {
            color: $active;
        }
    }

    &__text {
        font-size: 13px;


    }
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    // left: 750px;
    color: white;
    z-index: 999;

}



.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 12px;
}

.swiper-button-prev {
    // left: 700px;
    // left: 0;
    right: 27px;
    left: auto;

}

.swiper-button-next {
    // left: 730px;
    // left: 0;
    right: 0px;
    left: auto;
}

.swiper-slide {
    // max-width: 400px;
    // width: 600px;
    // width: 500px;
}

.swiper-wrapper {
    width: 620px;
}

.swiper__text {
    font-size: 13px;
}

.currency {
    background-color: #1b1c27;
    padding: 22px 0;

    &__wraper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__items {
        display: flex;
        gap: 35px;
    }

    &__item {
        // margin-right: 35px;
    }

    &__inner {
        display: flex;
        align-items: center;
    }

    &__svg {
        margin-right: 10px;
        z-index: 999;

    }

    // поменять если не сделаю кнопку 
    &__icon {
        border-radius: 50%;
        border: 1px solid transparent;
        background-color: $white;
        margin-right: 10px;
        width: 14px;
        height: 14px;
        // padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: color 0.5s;

        &:focus {
            color: $green;
        }

        &:hover {
            border: 1px solid blue;
        }

        &:active {
            color: $active;
        }
    }

    &__text {
        color: #f2b125;
        text-transform: uppercase;
        margin-bottom: 10px;
        // line-height: 26px;

    }

    &__info {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 500;
        color: #ffffff;
    }



    &__increased {
        color: #3bed23;

    }

    &__dropped {
        color: #f02f23;
    }

    &__info {}

    &__box {
        display: inline;
    }
}


.blog {
    padding: 35px 0px 75px 0px;
    background-color: #2f2f33;

    &__images {
        display: block;
        position: relative;
    }

    &__img {
        width: 590px;
        height: 545px;
        object-fit: cover;
        // display: none;

    }

    &__items {
        display: flex;
        justify-content: space-between;


    }

    &__item {
        // !
        max-width: 63vw;
        gap: 15px;
        border: 1px solid gold;

    }

    &__main {
        position: absolute;
        top: 265px;
        left: 0px;
        max-width: 33vw;
        padding: 30px 30px 40px 30px;
        // 590
    }

    &__inner {
        display: flex;

    }

    &__top {
        display: flex;
        justify-content: space-between;

        align-items: flex-start;
    }


    &__currency {
        background-color: #f2b125;
        border-radius: 4px;
        font-family: Poppins;
        font-size: 14px;
        // line-height: 36px;
        font-weight: 600;
        text-transform: uppercase;
        color: #2f2f33;
        padding: 5px 17px;
    }

    &__icon {
        background-color: red;
        width: 50px;
        height: 50px;

    }

    &__bottom {
        // padding: 0 30px 0 75px ;
        display: flex;
        flex-direction: column;
        /* align-items: end; */
        justify-content: end;
        height: 410px;

    }

    &__info {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 20px;
        gap: 35px;
    }

    &__svg {
        margin-right: 5px;
    }

    &__title {
        font-size: 30px;
        // line-height: 36px;
        font-weight: 600;
        color: #fefeff;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 15px;
        // line-height: 25px;

    }
}



/*медия всегда должны быть в низу */


/*

&__link {
    color: $title;
    font-family: $;
    font-size: 15px;
    line-height: 1;
    font-weight: 700;
    outline-color: #000000;
    outline-offset: 5px;
    transition: color 0.5s;
    &:focus {
        color: $green;
    }

    &:hover {
        color: $ac;
    }

    &--active {
        color: $ac;
    }
}

*/

/*.video {
    height: 425px;
    max-width: 1185px;
    display: flex;
    justify-content: center;
    background-position: center;
    position: relative;
    opacity: 1;
    transition: opacity 0.7s,
        border 0.5s;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;


    &:focus {
        outline: solid $ac;
    }

    &:hover {
        opacity: 0.4;
        border: 2px solid $black;
    }

    &:active {
        color: $active;
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url('../images/play.png');
        background-position: center;
        background-repeat: no-repeat;
        height: 100px;
        width: 100px;
    }
}*/

@import 'media';